<h1>Subscription Sign-up (Existing User)</h1>
<h2>STEP 2 - Confirm your membership</h2>

<h3>Member Details: <%= @member.membership_number %></h3>
<p>
  <strong>Forename:</strong>
  <%= @member.forename %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @member.surname %>
</p>


<h3>Signup up via GoCardless</h3>

<%= form_tag "/gocardless/step2_submit" do %>
  <%= hidden_field_tag "member_id", @member.id %>
  <%= submit_tag "I confirm that this is me", class: "btn btn-small btn-primary" %>
<% end %>