<p>
  Address Line 1:
  <strong><%= contact_details.address_line_1 %></strong><br/>

  Address Line 2:
  <strong><%= contact_details.address_line_2 %></strong><br/>

  Address Line 3:
  <strong><%= contact_details.address_line_3 %></strong><br/>

  Town:
  <strong><%= contact_details.town %></strong><br/>

  Postcode:
  <strong><%= contact_details.postcode %></strong><br/>

  County:
  <strong><%= contact_details.county %></strong><br/>

  Country:
  <strong><%= contact_details.country %></strong><br/>

  Telephone Number:
  <strong><%= contact_details.telephone %></strong><br/>

  Email:
  <strong><%= contact_details.email %></strong>
</p>
