
  <div class="row">
    <div class="col-xs-5">Address Line 1:</div>
    <div class="col-xs-7" style=""><strong><%= contact_details.address_line_1 %></strong></div>
  </div>

  <div class="row">
    <div class="col-xs-5">Address Line 2:</div>
    <div class="col-xs-7"><strong><%= contact_details.address_line_2 %></strong></div>
  </div>

  <div class="row">
    <div class="col-xs-5">Address Line 3:</div>
    <div class="col-xs-7"><strong><%= contact_details.address_line_3 %></strong></div>
  </div>

  <div class="row">
    <div class="col-xs-5">Town:</div>
    <div class="col-xs-7"><strong><%= contact_details.town %></strong></div>
  </div>

  <div class="row">
    <div class="col-xs-5">Postcode:</div>
    <div class="col-xs-7"><strong><%= contact_details.postcode %></strong></div>
  </div>

  <div class="row">
    <div class="col-xs-5">County:</div>
    <div class="col-xs-7"><strong><%= contact_details.county %></strong></div>
  </div>

  <div class="row">
    <div class="col-xs-5">Country:</div>
    <div class="col-xs-7"><strong><%= contact_details.country %></strong></div>
  </div>

  <div class="row">
    <div class="col-xs-5">Telephone Number:</div>
    <div class="col-xs-7"><strong><%= contact_details.telephone %></strong></div>
  </div>

  <div class="row">
    <div class="col-xs-5">Email:</div>
    <div class="col-xs-7" style="word-wrap: break-word"><strong><%= contact_details.email %></strong></div>
  </div>

