<p>
  <strong>Address Line 1:</strong>
  <%= contact_details.address_line_1 %>
</p>
<p>
  <strong>Address Line 2:</strong>
  <%= contact_details.address_line_2 %>
</p>
<p>
  <strong>Address Line 3:</strong>
  <%= contact_details.address_line_3 %>
</p>
<p>
  <strong>Town:</strong>
  <%= contact_details.town %>
</p>
<p>
  <strong>Postcode:</strong>
  <%= contact_details.postcode %>
</p>
<p>
  <strong>County:</strong>
  <%= contact_details.county %>
</p>
<p>
  <strong>Country:</strong>
  <%= contact_details.country %>
</p>
<p>
  <strong>Telephone Number:</strong>
  <%= contact_details.telephone %>
</p>
<p>
  <strong>Email:</strong>
  <%= contact_details.email %>
</p>
