<p>
  Go Cardless Reference:
  <strong><%= go_cardless_payment_method.go_cardless_reference %></strong><br/>
  Status:
  <strong><%= GoCardless::PreAuthorization.find(go_cardless_payment_method.go_cardless_reference).status  %></strong>

<% if member_admin? %>

  <br/>Interval Length:
  <strong><%= GoCardless::PreAuthorization.find(go_cardless_payment_method.go_cardless_reference).interval_length %></strong><br/>
  
  Interval Unit:
  <strong><%= GoCardless::PreAuthorization.find(go_cardless_payment_method.go_cardless_reference).interval_unit %></strong><br/>
  
  Name:
  <strong><%= GoCardless::PreAuthorization.find(go_cardless_payment_method.go_cardless_reference).name %></strong><br/>
  
  Created At:
  <strong><%= GoCardless::PreAuthorization.find(go_cardless_payment_method.go_cardless_reference).created_at %></strong><br/>
  
  Expires At:
  <strong><%= GoCardless::PreAuthorization.find(go_cardless_payment_method.go_cardless_reference).expires_at %></strong><br/>
  
  Next Interval Start:
  <strong><%= GoCardless::PreAuthorization.find(go_cardless_payment_method.go_cardless_reference).next_interval_start %></strong><br/>
  
  Max Amount:
  <strong><%= GoCardless::PreAuthorization.find(go_cardless_payment_method.go_cardless_reference).max_amount %></strong><br/>
  
  Amount:
  <strong><%= GoCardless::PreAuthorization.find(go_cardless_payment_method.go_cardless_reference).amount %></strong><br/>
  
  Remaining Amount:
  <strong><%= GoCardless::PreAuthorization.find(go_cardless_payment_method.go_cardless_reference).remaining_amount %></strong><br/>

<% end %>

</p>