<div class="center hero-unit">
	<h2>Membership Database</h2>

	<h3>Main Functions - Member</h3>
	<%= link_to "Log in", signin_path %></br>
	<%= link_to "Log out", signout_path, method: "delete" %></br>
	<%= link_to 'View My Membership', member_path(current_member) %></br>
	Update My Membership</br>
	Create/Delete My Subscription

	<h3>Main Functions - Area Group Coordinator</h3>
	<%= link_to "View Area Groups", controller: "area_groups" %></br>
	Create/Update/Delete Area Group</br>
	<%= link_to "View Members", controller: "members" %></br>
	Update Member (Area Group Assignment only)</br>

	<h3>Main Functions - Membership Secretary</h3>
	<%= link_to "View Members", controller: "members" %></br>
	<%= link_to "View Members (With Upcoming Renewal)", members_by_days_to_expiry_path('30') %></br>
	<%= link_to "Create Member", new_member_url() %></br>
	Update Members (go to the members listing to test it)</br>
	<%= link_to "Subscribe (Existing Members)", gocardless_step1_path %> (To be re-written)

	<h3>Scheduled Jobs</h3>
	<p>Note: these aren't yet scheduled to run so must be run manually for the moment.</p>
	
	<p><%= link_to "Expire Members", members_expire_path %></br>
		Runs monthly to set any member states that have expired.</p>
	<p><%= link_to "Request DD Payments", members_request_dd_payments_path %></br>
		Runs weekly to request payment from anyone due to renew by DD in the next week.</p>
</div>