<%= form_for([@member, @member.entitlement_periods.build]) do |f| %>

  <% if @entitlement_period && @entitlement_period.errors.any? %>
    <% @entitlement_period.errors.full_messages.each do |msg| %>
     <li><%= msg %></li>
    <% end %>
  <% end %>

  <p>
    <%= f.label :endDate %><br />
    <%= f.text_field :endDate %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>