<%= form_for([@member, @entitlement_period]) do |f| %>

  <% if @entitlement_period.errors.any? %>
    <% @entitlement_period.errors.full_messages.each do |msg| %>
     <li><%= msg %></li>
    <% end %>
  <% end %>

  <p>

    <%= f.label :endDate %><br />
    <%= date_select :entitlement_period, :endDate %><br />
    This is calculated but can be over-ridden.
  </p>

  <h2>Payment </h2>
  <%= fields_for @payment do |p| %>

    <p>
      <%= p.label :payment_date %><br />
      <%= date_select :payment, :payment_date %>
    </p>

    <p>
      <%= p.label :amount_in_pence %><br />
      <%= p.text_field :amount_in_pence %>
    </p>

    <p>
      <%= p.label :payment_method %><br>
      <%= collection_select(:payment, :payment_method_id, PaymentMethod.all, :id, :payment_method) %>
    </p>

  <% end %>

  <p>
    <%= f.submit %>
  </p>
<% end %>