<td><%= payment.id %></td>
<td><%= payment.payment_date %></td>
<td><%= payment.payment_type %></td>
<td><%= number_to_currency(payment.amount_in_pence.to_f/100, :unit => "&pound;") %></td>
<td><%= payment.go_cardless_reference %></td>
<td><span class="label label-<%= state_label(payment.payment_status) %>"><%= payment.payment_status %></span></td>