<h1>Direct Debit Payments Requested</h1>

<p>Requested payments from <%= members.count %> members.</br>
The following members have had a payment_requested:</p>

<table>
  <tr>
    <th>Number</th>
    <th>Forename</th>
    <th>Surname</th>
    <th>Paid Up To</th>
    <th>Status</th>
  </tr>

  <% members.each do |member| %>
    <tr>
      <td><%= member.membership_number %></td>
      <td><%= member.forename %></td>
      <td><%= member.surname %></td>
      <td><%= member.paid_up_to_date %></td>
      <td><%= member.membership_status %></td>
    </tr>
  <% end %>
</table>

