<%= form_for @area_group do |f| %>
  <% if @area_group.errors.any? %>
  <div id="errorExplanation"  class="alert alert-error">
    <h3><%= pluralize(@area_group.errors.count, "error") %> prohibited this area group from being saved:</h3>
    <ul>
    <% @area_group.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </p>

  <p>
    <%= f.label :active %>
    <%= f.check_box :active %>
  </p>

  <p>
    <%= f.label :coordinator %>
    <%= collection_select(:area_group, :coordinator, @people, :id, :to_s) %>
  </p>

  <p>
    <%= f.submit class: "btn btn-small btn-primary" %>
  </p>
<% end %>

