<div class="navbar-collapse collapse" id="my-navbar">
  <ul class="nav navbar-nav pull-right">

    <!-- CMS Menus -->
    <% @cms_site = Comfy::Cms::Site.find_by_id('1') %>
    <% unless @cms_site.nil?  %>
      <% @cms_site.pages.root.children.published.each do |page| %>
        <% unless (page.label == 'Forum') || (page.label == 'Wiki') %>

          <% unless page.children_count == 0 %>
            <% puts page.to_yaml %>
            <li class="dropdown">
              <a href="<%= page.full_path %>" class="dropdown-toggle" data-toggle="dropdown"><%= page.label %> <strong class="caret"></strong></a>
              <ul class="dropdown-menu">
                <% page.children.published.each do |subpage| %>
                  <li><%= link_to subpage.label, subpage.full_path %></li>
                <% end %>
              </ul>
            </li>
          <% else %>
            <li><%= link_to page.label, page.full_path %></li>
          <% end %>

        <% end %>
      <% end %>
    <% end %>

    <!-- Forum and Wiki -->
    <% if signed_in? %>
      <li><%= link_to 'Forum', '/forum' %></li>
      <li><%= link_to 'Wiki', '/wiki' %></li>
    <% else %>
      <li><%= link_to 'Forum', '/about/forum' %></li>
      <li><%= link_to 'Wiki', '/about/wiki' %></li>
    <% end %>

    <!-- My Membership -->
    <% if signed_in? %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Membership <strong class="caret"></strong></a>
        <ul class="dropdown-menu">
          <li><%= link_to 'View My Membership', member_path(current_member) %></li>
          <li class="divider"></li>
          <li><%= link_to "Area Groups", controller: "/area_groups" %></li>
          <li class="divider"></li>
          <li><%= link_to "Log out", signout_path, method: "delete" %></li>
        </ul>
      </li>
    <% else %>
      <li class="dropdown" id="menuLogin">
        <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="navLogin">Login <strong class="caret"></strong></a>
        <div class="dropdown-menu" style="padding:15px;">
          <%= form_for(:session, url: sessions_path, :html => { :class => "form-horizontal", :role => "form" }) do |f| %>

            <p><%= f.text_field :login, placeholder: "Username", class: "form-control" %></p>
            <p><%= f.password_field :password, placeholder: "Password", class: "form-control" %></p>
            <%= f.hidden_field :fromnav, :value => "fromnav" %>

            <%= f.submit "Login", class: "btn btn-primary" %>
          <% end %>

        </div>
        <li class="divider"></li>
        <li><%= link_to "Sign up", members_signup_path %></li>
      </li>
    <% end %>

    <!-- Admin Menu -->
    <% if member_admin? || area_group_admin? %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <strong class="caret"></strong></a>
        <ul class="dropdown-menu">
          <li><%= link_to "View Members", members_path %></li>
          
          <% if member_admin? %>
            <li><%= link_to "Create Member", new_member_url() %></li>
            <li class="divider"></li>
            <li class="dropdown-header">Renewal Process</li>
            <li><%= link_to "View Upcoming Renewals", members_by_days_to_expiry_path('30') %></li>
            <li><%= link_to "View Online Signups", members_online_signups_path %></li>
            <li class="divider"></li>
            <li class="dropdown-header">Scheduled Jobs</li>
            <li><%= link_to "Expire Members", members_expire_path %></li>
            <li><%= link_to "Create DD Payments", payments_create_dd_payments_path %></li>
          <% end %>

          <% if area_group_admin? %>
            <li class="dropdown-header">Area Group Admin</li>
            <li><%= link_to "Area Groups", controller: "/area_groups" %></li>
          <% end %>
          
          <% if member_admin? %>
            <li class="divider"></li>
            <li class="dropdown-header">Content Management</li>
            <li><%= link_to "CMS", main_app.comfy_admin_cms_path %></li>
          <% end %>

        </ul>
      </li>
    <% end %>

  </ul>
</div>