<div class="nav-collapse">
  <ul class="nav pull-right">

    <!-- CMS Menus -->
    <% @cms_site = Cms::Site.find_by_id('1') %>
    <% @cms_site.pages.root.children.published.each do |page| %>

      <% unless page.children_count == 0 %>
      <% puts page.to_yaml %>
        <li class="dropdown">
          <a href="<%= page.full_path %>" class="dropdown-toggle" data-toggle="dropdown"><%= page.label %> <strong class="caret"></strong></a>
          <ul class="dropdown-menu">
            <% page.children.published.each do |subpage| %>
              <li><%= link_to subpage.label, subpage.full_path %></li>
            <% end %>
          </ul>
        </li>
      <% else %>
        <li><%= link_to page.label, page.full_path %></li>
      <% end %>
    <% end %>

    <!-- My Membership -->
    <% if signed_in? %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Membership <strong class="caret"></strong></a>
        <ul class="dropdown-menu">
          <li><%= link_to 'View My Membership', member_path(current_member) %></li>
          <li class="divider"></li>
          <li><%= link_to "Log out", signout_path, method: "delete" %></li>
        </ul>
      </li>
    <% else %>
      <li class="dropdown" id="menuLogin">
        <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="navLogin">Login <strong class="caret"></strong></a>
        <div class="dropdown-menu" style="padding:15px;">
          <%= form_for(:session, url: sessions_path) do |f| %>

            <%= f.text_field :login, placeholder: "Username"  %>
            <%= f.password_field :password, placeholder: "Password" %>
            <%= f.hidden_field :fromnav, :value => "fromnav" %></br>

            <%= f.submit "Login", class: "btn-primary" %>
          <% end %>

        </div>
      </li>
    <% end %>

    <!-- Admin Menu -->
    <% if member_admin? || area_group_admin? %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <strong class="caret"></strong></a>
        <ul class="dropdown-menu">
          <li><%= link_to "View Members", members_path %></li>
          
          <% if member_admin? %>
            <li><%= link_to "Create Member", new_member_url() %></li>
            <li class="divider"></li>
            <li class="nav-header">Renewal Process</li>
            <li><%= link_to "View Upcoming Renewals", members_by_days_to_expiry_path('30') %></li>
            <li class="divider"></li>
            <li class="nav-header">Scheduled Jobs</li>
            <li><%= link_to "Expire Members", members_expire_path %></li>
            <li><%= link_to "Create DD Payments", payments_create_dd_payments_path %></li>
          <% end %>

          <% if area_group_admin? %>
            <li class="nav-header">Area Group Admin</li>
            <li><%= link_to "Area Groups", controller: "/area_groups" %></li>
          <% end %>
          
          <% if member_admin? %>
            <li class="divider"></li>
            <li class="nav-header">Content Management</li>
            <li><%= link_to "CMS", admin_cms_path %></li>
          <% end %>

        </ul>
      </li>
    <% end %>

  </ul>
</div>