<%= form_for @member do |f| %>
  <% if @member.errors.any? %>
  <div id="errorExplanation" class="alert alert-error">
    <h3><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h3>
    <ul>
    <% @member.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <h2>Member Details</h2>

  <% if member_admin? %>
    <p>
      <%= f.label :membership_number %> (Current maximum = <%= @max_member_id %>)<br>
      <%= f.text_field :membership_number %>
    </p>
  <% end %>
  
  <p>
    <%= f.label :forename %>
    <%= f.text_field :forename %>
  </p>

  <p>
    <%= f.label :surname %>
    <%= f.text_field :surname %>
  </p>

  <p>
    <%= f.label :date_of_birth %>
    <%= date_select :member, :date_of_birth, :start_year => 1920, :include_blank => true %>
  </p>

  <% if member_admin? %>

    <p>
      <%= f.label :date_added %>
      <%= date_select :member, :date_added, :include_blank => true %>
    </p>

    <p>
      <%= f.label :member_category %>
      <%= collection_select(:member, :member_category_id, MemberCategory.all, :id, :description) %>
    </p>

    <p>
      <%= f.label :area_group %>
      <%= collection_select(:member, :area_group_id, AreaGroup.all, :id, :description, :include_blank => true) %>
    </p>

    <p>
      <%= f.label :notes %>
      <%= f.text_area :notes %>
    </p>

    <h2>Source Details</h2>
    <p>
      <%= f.label :source_channel %>
      <%= collection_select(:member, :source_channel_id, SourceChannel.all, :id, :channel, :include_blank => true ) %>
    </p>

    <p>
      <%= f.label :signup_source %>
      <%= f.text_field :signup_source %>
    </p>

  <% end %>

  <h2>Contact Details</h2>
  <%= fields_for @contact_details do |c| %>

    <p>
      <%= c.label :address_line_1 %>
      <%= c.text_field :address_line_1 %>
    </p>

    <p>
      <%= c.label :address_line_2 %>
      <%= c.text_field :address_line_2 %>
    </p>

    <p>
      <%= c.label :address_line_3 %>
      <%= c.text_field :address_line_3 %>
    </p>

    <p>
      <%= c.label :town %>
      <%= c.text_field :town %>
    </p>

    <p>
      <%= c.label :county %>
      <%= c.text_field :county %>
    </p>

    <p>
      <%= c.label :postcode %>
      <%= c.text_field :postcode %>
    </p>

    <p>
      <%= c.label :country %>
      
      <%= c.country_select :country, ["United Kingdom"] %>
    </p>

    <p>
      <%= c.label :telephone %>
      <%= c.text_field :telephone %>
    </p>

    <p>
      <%= c.label :email %>
      <%= c.text_field :email %>
    </p>

  <% end %>

  <% if member_admin? %>
    <h2>Forum Details</h2>
    <%= fields_for @forum_details do |fd| %>

      <p>
        <%= fd.label :forum_id, "Forum ID" %>
        <%= fd.text_field :forum_id %>
      </p>

      <p>
        <%= fd.label :forum_name %>
        <%= fd.text_field :forum_name %>
      </p>
      
      <%= fd.hidden_field :forum_password %>
      <%= fd.hidden_field :remember_token %>

    <% end %>
  <% end %>

  <p>
    <%= f.submit class:  "btn btn-small btn-primary" %>
  </p>
<% end %>

