<h1>Generate Passwords</h1>

<p>Expired <%= members.count %> members.</br>
The following members have had their passwords set:</p>

<table>
  <tr>
    <th>Number</th>
    <th>Forename</th>
    <th>Surname</th>
    <th>Forum ID</th>
    <th>Forum Name</th>
    <th>Forum Password</th>
  </tr>

  <% members.each do |member| %>
    <tr>
      <td><%= member.membership_number %></td>
      <td><%= member.forename %></td>
      <td><%= member.surname %></td>
      <td><%= member.forum_details.forum_id %></td>
      <td><%= member.forum_details.forum_name %></td>
      <td><%= member.forum_details.forum_password %></td>
    </tr>
  <% end %>
</table>

