<h1>Members</h1>

<%= link_to "Add New Member", new_member_path, class: "btn btn-lg btn-primary pull-right"  %>

<%= alphabetical_paginate @alphaParams %>

<div id="pagination_table">
<table class="table table-condensed">
  <tr>
    <th>Number</th>
    <th>Forename</th>
    <th>Surname</th>
    <th>State</th>
    <th>Paid Up To</th>
    <th>Subscription Type</th>
    <th>Area Group</th>
    <th>Actions</th>
  </tr>

  <% @members.each do |member| %>
    <tr>
      <td><%= member.membership_number %></td>
      <td><%= member.forename %></td>
      <td><%= member.surname %></td>
      <td><span class="label label-<%= membership_state_label(member.membership_status) %>"><%= member.membership_status %></span></td>
      <td><%= member.paid_up_to_date %></td>
      <td><%= member.subscription.subscription_renewal_type unless member.subscription.nil? %></td>
      <td><%= member.area_group %></td>
      <td>
        <%= link_to 'Show', member_path(member), class: "btn btn-xs btn-primary" %>
        <%= link_to 'Edit', edit_member_path(member),class: "btn btn-xs btn-default" %>
        <%= link_to 'Destroy', member_path(member), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-xs btn-default" %>
      </td>
    </tr>
  <% end %>
</table>
</div>
