<h1>Members</h1>

<p><%= link_to "Add New Member", new_member_path, class: "btn btn-large btn-primary"  %></p>

<table>
  <tr>
    <th>Number</th>
    <th>Forename</th>
    <th>Surname</th>
    <th>Paid Up To</th>
    <th>Subscription Type</th>
    <th>Area Group</th>
  </tr>

  <% @members.each do |member| %>
    <tr>
      <td><%= member.membership_number %></td>
      <td><%= member.forename %></td>
      <td><%= member.surname %></td>
      <td><%= member.paid_up_to_date %></td>
      <td><%= member.subscription.subscription_renewal_type %></td>
      <td><%= member.area_group %></td>
      <td><%= link_to 'Show', member_path(member), class: "btn btn-small btn-primary" %></td>
      <td><%= link_to 'Edit', edit_member_path(member),class: "btn btn-small" %></td>
      <td><%= link_to 'Destroy', member_path(member), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-small" %></td>
    </tr>
  <% end %>
</table>
