<h1>Listing Members</h1>

<table>
  <tr>
    <th>Forename</th>
    <th>Surname</th>
  </tr>

  <% @members.each do |member| %>
    <tr>
      <td><%= member.forename %></td>
      <td><%= member.surname %></td>
      <td><%= member.notes %></td>
      <td><%= link_to 'Show', member_path(member) %></td>
      <td><%= link_to 'Edit', edit_member_path(member) %></td>
      <td><%= link_to 'Destroy', member_path(member), method: :delete, data: {confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Home', controller: "welcome" %>
<%= link_to "Add New Member", new_member_path %>
