<h2>Member Details: <%= @member.membership_number %></h2>
<p>
  <strong>Forename:</strong>
  <%= @member.forename %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @member.surname %>
</p>

<p>
  <strong>Date Of Birth:</strong>
  <%= @member.date_of_birth %>
</p>

<p>
  <strong>Date Added:</strong>
  <%= @member.date_added %>
</p>

<p>
  <strong>Member Category:</strong>
  <%= @member.member_category.description %>
</p>

<p>
  <strong>Membership Status:</strong>
  <%= @member.membership_status.status %>
</p>

<p>
  <strong>Area Group:</strong>
  <%= @member.area_group %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @member.notes %>
</p>

<h2>Source Details</h2>
<p>
  <strong>Sign-up Source Channel:</strong>
  <%= @member.source_channel %>
</p>

<p>
  <strong>Sign-up Source:</strong>
  <%= @member.signup_source %>
</p>

 <h2>Forum Details</h2>
<% if @member.forum_details.nil? %>
  No forum details registered
<% else %>
  <p>
    <strong>Forum ID:</strong>
    <%= @member.forum_details.forum_id %>
  </p>

  <p>
    <strong>Forum Name:</strong>
    <%= @member.forum_details.forum_name %>
  </p>
<% end %>

<h2>Contact Details</h2>
<%= render @member.contact_details %>

<%= link_to "Edit Member Details", edit_member_path(@member) %>

<h2>Entitlement Periods</h2>
<%= render @member.entitlement_periods %>
<p>
<%= link_to 'Add Entitlement Period', new_member_entitlement_period_path(:member_id => @member.id) %>
</p>

<%= link_to 'Home', controller: "welcome" %>
<%= link_to "Members", members_path %>

