
<div class="well well-small">
  <div class="row-fluid">
    <div class="span4">
      
      <p>

        <h2>
          <%= @member.forename %> <%= @member.surname %><br/>
          <%= @member.membership_number %><br/>
          <%= link_to "Edit Member Details", edit_member_path(@member), class: "btn btn-small btn-primary"  %>
        </h2>

        Date Of Birth:
        <strong><%= @member.date_of_birth %></strong><br/>

        Date Added:
        <strong><%= @member.date_added %></strong><br/>

        Member Category:
        <strong><%= @member.member_category.description %></strong><br/>

        Membership Status:
        <span class="label label-<%= membership_state_label(@member.membership_status.status) %>"><%= @member.membership_status.status %></span><br/>

        Area Group:
        <strong><%= @member.area_group %></strong>

        <% if member_admin? %>
          <br/>Notes:
          <strong><%= @member.notes %></strong>
        <% end %>
      </p>
      
    </div>
  
    <div class="span4">
      <h3>Contact Details</h3>
      <%= render @member.contact_details %>
    </div>

    <div class="span4">
      <%= render @member.forum_details %>
      <%= render "source_details" %>

      <h3>Subscription</h3>
      <% if @member.subscription.nil? %>
        No subscription registered
      <% else %>
        <%= render @member.subscription %>
      <% end %>
    </div>


  </div>
</div>

<h3 class="panel-title">Payment History</h3>
<table class="table">
  <tr>
    <th>Payment ID</th>
    <th>Payment Date</th>
    <th>Payment Type</th>
    <th>Payment Currency</th>
    <th>GoCardless Ref</th>
    <th>Payment Status</th>
  </tr>
  <tr><%= render partial: @member.payments, spacer_template: "payment_ruler" %></tr>
</table>


<div class="row-fluid">

  <div class="span6">
    <h3>Membership Periods</h3>
    <% if @member.entitlement_periods.nil? %>
      No entitlement periods registered
    <% else %>
      <table class="table">
        <tr>
          <th>End Date</th>
          <th>Related Payment</th>
        </tr>
        <tr><%= render partial: @member.entitlement_periods, spacer_template: "payment_ruler" %></tr>
      </table>
    <% end %>
    <% if member_admin? %>
      <p><%= link_to 'Add Membership Period and Payment', new_member_entitlement_period_path(:member_id => @member.id), class: "btn btn-small btn-primary"  %></p>
    <% end %>
  </div>

  <div class="span6">
    <h3>Go Cardless Payment Method</h3>
    <% if @member.go_cardless_payment_method.nil? %>
      <p>No payment method registered</p>
      <%= link_to 'Add Go Cardless Payment Method', new_member_go_cardless_payment_method_path(:member_id => @member.id), class: "btn btn-small btn-primary"  %>
    <% else %>
      <%= render @member.go_cardless_payment_method %>
    <% end %>
  </div>

</div>
