<h2>Member Details: <%= @member.membership_number %></h2>
<p>
  <strong>Forename:</strong>
  <%= @member.forename %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @member.surname %>
</p>

<p>
  <strong>Date Of Birth:</strong>
  <%= @member.date_of_birth %>
</p>

<p>
  <strong>Date Added:</strong>
  <%= @member.date_added %>
</p>

<p>
  <strong>Member Category:</strong>
  <%= @member.member_category.description %>
</p>

<p>
  <strong>Membership Status:</strong>
  <%= @member.membership_status.status %>
</p>

<p>
  <strong>Area Group:</strong>
  <%= @member.area_group %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @member.notes %>
</p>

<h2>Source Details</h2>
<p>
  <strong>Sign-up Source Channel:</strong>
  <%= @member.source_channel %>
</p>

<p>
  <strong>Sign-up Source:</strong>
  <%= @member.signup_source %>
</p>

 <h2>Forum Details</h2>
<%= render @member.forum_details %>

<h2>Contact Details</h2>
<%= render @member.contact_details %>

<%= link_to "Edit Member Details", edit_member_path(@member), class: "btn btn-small"  %>

<h2>Payments</h2>
<table class="table">
  <tr>
    <th>Payment Date</th>
    <th>Payment Type</th>
    <th>Payment Currency</th>
    <th>Payment Status</th>
  </tr>
  <tr><%= render partial: @member.payments, spacer_template: "payment_ruler" %></tr>
</table>

<h2>Entitlement Periods</h2>

<%= render @member.entitlement_periods %>
<% if member_admin? %>
  <p>
    <%= link_to 'Add Entitlement Period', new_member_entitlement_period_path(:member_id => @member.id), class: "btn btn-small btn-primary"  %>
  </p>
<% end %>

<h2>Subscription</h2>
<% if @member.subscription.nil? %>
  No subscription registered
<% else %>
  <%= render @member.subscription %>
<% end %>

<h2>Go Cardless Payment Method</h2>
<% if @member.go_cardless_payment_method.nil? %>
  <p>No payment method registered</p>
  <%= link_to 'Add Go Cardless Payment Method', new_member_go_cardless_payment_method_path(:member_id => @member.id), class: "btn btn-small btn-primary"  %>
<% else %>
  <%= render @member.go_cardless_payment_method %>
<% end %>


